body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cityInput {
    width: 280px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

#getWeatherButton {
    width: 300px;
    height: 5cqmin;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#getWeatherButton:hover {
    background-color: #45a049;
    transition: 0.5s;
}

#weather {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}